.content_show {
    animation-name:fade-in;
    animation-duration:1s;
    animation-timing-function:ease-in-out;
}

@keyframes fade-in {
    from {
        display:none;
        margin-top: 20px;
        opacity: 0;
    }
    to {
        display:block;
        opacity: 1;
    
    }
}

img.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.gray:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.column {
    padding: 0.35rem 0.75rem;
}

@media screen and ( min-width:768px) and ( max-width:1365px) {
    .saga_pb_desktop {
        padding-bottom: 1.0rem
    }
}

.orio02_padding-bottom {
    padding-bottom: 42px
}

@media screen and ( max-width:1366px) {
    .orio02_padding-bottom {
        padding-bottom: 33px
    }
}

@media screen and ( max-width:1112px) {
    .orio02_padding-bottom {
        padding-bottom: 23px
    }
        
}

@media screen and ( max-width:834px) {

    .orio02_padding-bottom {
        padding-bottom: 10px
    }
    
}

@media screen and ( max-width:736px) {
    .orio02_padding-bottom {
        padding-bottom: 0px
    }
    
}

@media screen and ( max-width:1024px) {
    .section {
        padding: 3rem 0.5rem;
    }
}
